/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;


    background-image: url('bau.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.3 px);
    position: relative;

}

.header-containe {
    background-color: #e3e3e3;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-bottom: 100px;
    display: flex;
}


.University {
    color: #3498db;

    text-align: left;

    padding: 10px;

    margin-left: 20px;

}

.University h2 {
    margin: 0;
    font-weight: 900;
    font-size: 35px;
}

.University p {
    margin: 2;

    font-weight: 300;
    font-size: 25px;
}

#header-img {

    align-self: start;

    width: 120px;
    margin-bottom: 20px;
    margin-top: 10px;
}


* {
    box-sizing: border-box;

    padding: 0;
    font-family: 'Tajawal', 'Segoe UI', sans-serif;
}

.login_container {
    width: 40%;
    background-color: #e3e3e3;
    border-radius: 16px;
    margin: 100px auto;
    overflow: hidden;
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1);
}



.login-header {
    background: rgb(5 20 71);
    color: white;
    margin-top: 0px;
    padding: 0.5rem;
    text-align: center;
    font-size: 18px
}

.login-header h1 {
    font-size: 18px;
    font-weight: 600;

}

.login-body {
    padding: 0 2rem;
}




label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 18px;
    font-weight: 500;
    color: var(--text);
}

input {
    width: 100%;
    padding: 0.875rem 1rem;
    border: 2px solid blue;
    border-radius: 8px;
    border-color: rgb(49, 7, 157);
    font-size: 1rem;
    transition: all 0.2s;
    background-color: whitesmoke;
}


.input:focus {
    outline: none;
    border-color: var(--primary);
    box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.1);
    background-color: var(--white);
}


#login-button {
    width: 100%;
    background: rgb(5 20 71);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 14px;
    margin: 50px 0;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 50px;
}

#login-button:hover {
    box-shadow: 0 4px 12px rgba(37, 99, 235, 0.2);
}

.error-message {
    color: #e74c3c;
    font-size: 0.8rem;
    margin-top: 0.3rem;
    display: none;
}

.success-message {
    color: #27ae60;
    font-size: 0.9rem;
    margin-top: 0.5rem;
    display: none;
}

@media (max-width: 480px) {
    .login-container {
        max-width: 400px;
        margin: 160px auto;
        padding: 30px;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
}